{{>head}}

    <div class="main-content">

        <h1>{{page_header}}</h1>
        
        <p>Use this site to manage your grocery lists.</p>

        <a href="/products">Products</a>


    </div>
    
{{>foot}}
