{{>head}}

<div>

<h1>Products</h1>
<br />

{{#if products.length }}

<ul style="column-count: 3; list-style: none" >
    {{#each products }}
    <li><a href="/products/{{this.id}}" >
    {{this.name}}, {{this.brand}}
    </a></li>
        {{/each}}
        </ul>

{{else}}

<p>no products found.</p>

{{/if}}

<br />
<button onclick="window.location.href='/products/new'" >Add Product</button>
<p></p>


</div>

{{>foot}}
